body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0a0a0a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
}

.logo1 {
  height: 50px;
}

.logo2 {
  height: 50px;
  margin-right: 5px;
  margin-top: 10px;
  display: block;
}


.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: gold;
}

/* HERO */
.hero {
  height: 90vh;
  background: url('images/bg.jpg') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  height: 250px;
}

@font-face {
  font-family: 'CooperBlack';
  src: url('fonts/COOPBL.TTF');
}

.ssf {
  font-family: 'CooperBlack';
}

.overlay {
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 10px;
}

.overlay h1 {
  font-size: 2rem;
}

.overlay h2 {
  font-size: 3rem;
  color: gold;
}

/* ABOUT */
.about {
  padding: 50px;
  text-align: center;
}

/* QUICK LINKS */
.quick-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.quick-links a {
  background: gold;
  color: black;
  padding: 15px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.card {
  background: #222;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}